.list-v, .list-h {
  list-style: none;
  display: list-item; }

.list-h {
  display: inline-flex; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2rem;
  margin-bottom: 5px; }

h4 {
  font-size: 1.5rem;
  margin: 10px 0; }

a {
  text-decoration: none; }

p {
  font-size: 1.5rem;
  margin: 10px 0px; }

.navbar {
  background-color: #E9A2AD;
  padding: 2rem; }

.navbar-collapse {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.nav-item a {
  font-size: 1.2rem; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  background-image: url(../img/portada.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 35px; }
  .hero div {
    text-align: center; }
    .hero div p {
      font-size: 1.5rem;
      margin-top: 8px; }

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #C3CFD9; }
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    padding: 30px 70px; }
    .about__container__text {
      padding: 25px 75px; }
    .about__container__image {
      text-align: center;
      padding: 10px; }
      .about__container__image img {
        width: 280px;
        height: auto;
        border-radius: 100%; }

.terapias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #F5F5E7; }
  .terapias__container {
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 35px; }
    .terapias__container h3 {
      text-align: center;
      margin-bottom: 0;
      padding: 15px; }
    .terapias__container__a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px; }
      .terapias__container__a img {
        width: 100%; }
      .terapias__container__a__text {
        padding-left: 30px; }
    .terapias__container__b {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px; }
      .terapias__container__b img {
        width: 100%; }
      .terapias__container__b__text {
        padding-right: 30px; }

.trabajos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #C3CFD9;
  padding: 35px 0px; }
  .trabajos__title {
    margin-bottom: 10px; }
  .trabajos__images {
    display: flex;
    width: 100%;
    justify-content: space-evenly; }
    .trabajos__images img {
      width: 200px; }
    .trabajos__images img:hover {
      transform: scale(1.13); }

.publicaciones {
  width: 100%;
  height: auto;
  background-color: #F5F5E7;
  padding-bottom: 15px; }
  .publicaciones h3 {
    text-align: center;
    padding: 15px; }
  .publicaciones__articulos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px; }
    .publicaciones__articulos article {
      width: 300px;
      height: 335px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 10px;
      text-align: center;
      border: 2px solid #C3CFD9; }
      .publicaciones__articulos article img {
        width: 150px; }
      .publicaciones__articulos article div p {
        margin: 0; }
      .publicaciones__articulos article div button {
        padding: 5px;
        margin: 10px;
        background-color: #D3455B;
        border-radius: 15px; }
        .publicaciones__articulos article div button a {
          color: #F5F5E7; }
    .publicaciones__articulos article:hover {
      background-color: #C3CFD9; }

.contact {
  width: 100%;
  height: auto;
  background-color: #C3CFD9; }
  .contact__container {
    max-width: 1500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px 0px; }
    .contact__container__form {
      padding: 10px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contact__container__form h3 {
        padding-bottom: 5px;
        text-align: center; }
      .contact__container__form form .div-form {
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
        align-items: left; }
        .contact__container__form form .div-form label {
          width: 100%; }
          .contact__container__form form .div-form label .rellenar {
            width: 100%;
            height: 20px;
            border: solid 1px #C3CFD9;
            padding: 20px 5px; }
        .contact__container__form form .div-form .area-text textarea {
          border: solid 1px #C3CFD9;
          width: 100%; }
        .contact__container__form form .div-form .div-submit {
          text-align: center; }
          .contact__container__form form .div-form .div-submit input {
            width: 50px;
            height: 30px; }
    .contact__container__information {
      align-self: center; }
      .contact__container__information__redes {
        text-align: right;
        padding-right: 50px; }
        .contact__container__information__redes img {
          width: 60px; }
        .contact__container__information__redes a {
          color: black;
          font-size: 1.25rem; }

.footer {
  width: 100%;
  height: auto;
  background-color: #E9A2AD;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }
  .footer__left {
    text-align: center;
    align-self: center;
    padding: 10px 0; }
    .footer__left img {
      width: 30%;
      height: auto; }
  .footer__center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .footer__right {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer__right__redes img {
      width: 40px; }

@media screen and (max-width: 1024px) {
  .contact__container__information__redes {
    padding: 0 30px 0 0; } }

@media screen and (max-width: 860px) {
  .about__container {
    padding: 25px 0; }
    .about__container__text {
      padding: 25px 60px; }
  .terapias_container__a img, .terapias_container__b img {
    width: 250px; }
  .trabajos__images img {
    width: 180px; }
  .contact__container {
    padding: 15px 0; }
    .contact__container__information__redes {
      padding: 0 15px 0 0; } }

@media screen and (max-width: 768px) {
  .about__container {
    flex-direction: column; }
    .about__container__image img {
      width: 40%; }
  .terapias__container__a {
    flex-direction: column-reverse; }
    .terapias__container__a__text {
      padding: 0; }
    .terapias__container__a__image {
      text-align: center; }
      .terapias__container__a__image img {
        width: 60%;
        margin: 10px; }
  .terapias__container__b {
    flex-direction: column; }
    .terapias__container__b__text {
      padding: 0; }
    .terapias__container__b__image {
      text-align: center; }
      .terapias__container__b__image img {
        width: 60%;
        margin: 10px; }
  .trabajos__images img {
    width: 150px; }
  .contact__container {
    padding: 15px 5px; }
    .contact__container__form {
      padding: 0 20px; }
    .contact__container__information__redes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact__container__information__redes span {
        display: none; }
  .footer {
    height: auto; } }

@media screen and (max-width: 576px) {
  .about__container {
    padding: 25px 0px; }
    .about__container__image img {
      width: 60%; }
  .trabajos__images img {
    width: 120px; }
  .contact__container {
    grid-template-columns: 1fr; }
    .contact__container__information__redes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .contact__container__information__redes span {
        display: none; }
  .footer {
    height: auto;
    grid-template-columns: 1fr; }
    .footer__left img {
      width: 80px; } }

@media screen and (max-width: 400px) {
  .terapias__container img {
    width: 100%; }
  .trabajos__images img {
    width: 100px; } }
