//RESPONSIVE

@media screen and (max-width: 1024px) {
    .contact__container__information__redes {
        padding: 0 30px 0 0; }
}

@media screen and (max-width: 860px) {
    .about__container {
        padding: 25px 0;
        &__text {
            padding: 25px 60px; }
    }
    .terapias_container {
        &__a, &__b {
            img {
                width: 250px; }
        }
    }
    .trabajos {
        &__container {
            &__images {
                img {
                    width: 180px; }
            }    
        } 
    }
    .contact__container {
        padding: 15px 0;
        &__information {
            &__redes {
                padding: 0 15px 0 0; }    
        } 
    }
}

@media screen and (max-width: 768px) {
    .about__container {
        flex-direction: column;
        &__image {
            img {
                width: 40%; }
        }      
    }
    .terapias__container {
        &__a {
            flex-direction: column-reverse;
            &__text {
                padding: 0;
            }
            &__image {
                text-align: center;
                img {
                    width: 60%; 
                    margin: 10px; }
            } 
        }
        &__b {
            flex-direction: column;
            &__text {
                padding: 0;
            }
            &__image {
                text-align: center;
                img {
                    width: 60%;
                    margin: 10px; }
            } 
        }  
    }
    .trabajos {
        &__container {
            &__images {
                img {
                    width: 150px; }
            }    
        } 
    }
    .contact__container {
        padding: 15px 5px;
        &__form {
            padding: 0 20px; }
        &__information {
            &__redes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span {
                    display: none; } 
            }    
        }
    }
    .footer {
        height: auto; }
}

@media screen and (max-width: 576px) {
    .about__container {
        padding: 25px 0px; 
        &__image {
            img {
                width: 60%; }
        }    
    }
    .trabajos {
        &__container {
            &__images {
                img {
                    width: 120px; }
            }    
        }
    }
    .contact__container {
        grid-template-columns: 1fr;
        &__information {
            &__redes {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span {
                    display: none; } 
            } 
        }
    }
    .footer__container {
        height: auto;
        grid-template-columns: 1fr;
        &__left {
            img {
                width: 80px; }    
        }  
    }
}

@media screen and (max-width: 400px) {
    .terapias__container {
        img {
            width: 100%; }
        }
    .trabajos {
        &__container {
            &__images {
                img {
                    width: 100px; }
            }    
        } 
    }
}