//ABOUT

.about {
    @include flex;
    @include sizes(100%, auto);
    background-color: $color-grey;
    &__container {
        @include flex;
        @include max-width;
        padding: 30px 70px;
        &__text {
            padding: 25px 75px; }
        &__image {
            text-align: center;
            padding: 10px;
            img {
                @include sizes(280px, auto);
                border-radius: 100%; }
        }
    }
}
