//PUBLICACIONES

.publicaciones {
    @include sizes(100%, auto);
    background-color: $color-beige;
    padding-bottom: 15px;
    h3 {
        text-align: center;
        padding: 15px; }
    &__articulos {
        @include flex;
        flex-wrap: wrap;
        gap: 8px;
        article {
            @include sizes(300px, 335px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 10px;
            text-align: center;
            border: 2px solid $color-grey;
            img {
                width: 150px; }
            div {
                p {
                    margin: 0; }   
                button {
                    padding: 5px;
                    margin: 10px;;
                    background-color: $color-pink-bold;
                    border-radius: 15px; 
                    a {
                       color: $color-beige; }
                }
            }
        }
        article:hover {
            background-color: $color-grey; }
    }
}
