//TRABAJOS

.trabajos {
    background-color: $color-grey;
    padding: 35px 0px;
    &__container {
        @include flex;
        flex-direction: column;
        @include sizes(100%, auto);  
        @include max-width;
        &__title {
            margin-bottom: 10px; }
        &__images {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            img {
                width: 200px; }  
            img:hover  {
                transform: scale(1.13); }
        }     
    }
}